/* CSS3 keyframes */

@-webkit-keyframes ckw {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes ckw {
    0% {
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

#loading {
    margin: 0 auto;
    background: url('../images/loading.png') no-repeat 0 0;
    width: 256px;
    height: 256px;
    -moz-animation-name: ckw;
    -moz-animation-duration: 3s;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-name: ckw;
    -webkit-animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
}
